body {
    background-image:url(imagenes/kanto-map.jpeg); 
    background-size: 100% 200%;
  }
img {
    margin-top: 100px;
}
h3{
    font-family: 'Press Start 2P', cursive;
}
li{
    color: black;
}
a{
    color: white;
}
